<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>JJIMSICAL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!doctype html>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="../static/script/index.js"></script>
    <link rel="stylesheet" href="../static/css/index.css">

</head>
<body>
<div class="logo">
    <p class="logo-txt">JJIMSICAL</p>
</div>
<div class="container">
    <div class="row pt-2 pb-2">

        <select class="col-1" name="categorys" id="category-selection" onchange="onChangeCategory()">
            <option value="0">제목</option>
            <option value="1">날짜</option>
            <option value="2">장소</option>
        </select>
        <input type="text" onchange="searchMusical()" class="col-5" id="search-input">
        <div class="col-2">
            <button class="favorite_btn btn btn-outline-primary" onclick="searchMusical()">검색
            </button>
        </div>
        <div class="col-4">
            <button class="favorite_btn btn btn-outline-danger" onclick="toggleFavoriteList()" id="favorite_btn">찜 목록만
                보기
            </button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row overflow-hidden" style="height: auto" id="item-box">
        {# jinja2를 사용하여 데이터를 유동적으로 처리한 부분
          bootstrap grid system을 사용하여 가로 6칸 배열을 구현하였다.
          이해하는데 좋은 사이트 : http://shoelace.io/ #}
        {% for i in data %}
            <div class="col-md-2 card p-3 item" onclick="getMusicalInfo(this.id)" id="{{ i['id'] }}">

                <img src="{{ i['poster'] }}" style="object-fit: fill" class="card-img"/>
                <p class="info-like p-1">❤️ {{ i['likecount'] }}</p>
                <div class="ds-img card-img-overlay">
                    <h5 class="card-title pf-tit">{{ i['name'] }}</h5>
                    <p class="card-text pf-date">{{ i['date'] }}</p>
                    <p class="card-text pf-location">{{ i['location'] }}</p>
                </div>

            </div>
        {% endfor %}
    </div>
</div>
 {# 모달 창 #}
<div class="background">
    <div class="window">
        <div class="popup">
            <div class="posterdiv">
                <img id="modal_poster" class="poster">
            </div>
            <div class="info">
                <p>
                <h3 class="modal_title" id="modal_title"></h3></p>
                <p class="modal_period" id="modal_period"></p>
                <p class="modal_loca" id="modal_loca"></p>
            </div>
            <div class="modal_table">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col" width="100px">이름</th>
                        <th scope="col">코멘트</th>
                    </tr>
                    </thead>
                    <tbody id="dynamicTbody">
                    <tr>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="commentdiv">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="comment" placeholder="url">
                    <label for="comment">코멘트를 작성하세요</label>
                </div>
            </div>
            <div class="modalbtns">
                <button onclick="save_comment(this.title)" type="button" class="btn btn-dark" id="modal" title="">
                    코멘트 등록
                </button>
                <button onclick="toggleFavorite(this.title)" type="button" class="btn btn-outline-dark"
                        id='favorite-btn' title=''>찜 ❤️
                </button>
            </div>
            <div class="modal_clsbtn_div">
                <button id="modal_clsbtn" class="modal_clsbtn" onclick="modal_clsbtn()">닫기</button>
            </div>
        </div>
    </div>
</div>
<div class="jjimbackground">
    <div class="window">
        <div class="popup">
            <div class="modal_clsbtn_div">
                <button id="jjimmodal_clsbtn" class="jjimmodal_clsbtn">닫기</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>
