
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/join.css">
    <script src="../static/script/join.js"></script>
    <title>회원가입 페이지</title>
</head>

<body>
    <div class="wrap">
        <h1>JJIMSICAL</h1>
    <div class="con">

        <div class="input-group mb-3 input-box first-box">
            <input type="text" class="form-control" id="id" placeholder="아이디" aria-label="Username"
                   aria-describedby="basic-addon1">
            <button type="button" onclick="check_id()" class="btn btn-primary">중복확인</button>

        </div>

        <div class="input-group mb-3 input-box">
            <input type="password" class="form-control" id="pw"  placeholder="비밀번호" aria-label="Username"
                   aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3 input-box">
            <input type="password" class="form-control" id="re-pw" placeholder="비밀번호 재확인" aria-label="Username"
                   aria-describedby="basic-addon1">
        </div>



        <div class="input-group mb-3 input-box">
            <input type="text" class="form-control" id="nick" placeholder="닉네임" aria-label="Username"
                   aria-describedby="basic-addon1">
        </div>

        <div class="btn-box">
            <button type="button" onclick="join()" id="" class="btn btn-primary">확인</button>
            <button type="button" onclick="cancel()" class="btn btn-primary">취소</button>
        </div>
    </div>
        </div>
</body>
